{% extends 'main/layout.html' %}

{%block title%}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rerum earum hic doloribus assumenda nihil est reiciendis commodi eaque distinctio, quae iste quis eos eum officia culpa expedita eveniet. Reiciendis.</p>
        <a href="{% url 'news_home' %}"><button class="btn btn-warning">На сторінку "Новини"</button></a>
    </div>


{% endblock %}